//imports
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Sono:wght@800&display=swap');

header
{
    //box settings
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius: 0 0 5px 5px;

    //colors
    background-color: rgb(8, 24, 44);

    //flexbox
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1
    {
        //box settings
        height: 40px;

        //cursor
        cursor: pointer;

        // text settings
        font-size: 35px;
        font-family: 'Concert One', cursive;

        //alternates
        .colorOne
        {
            color: aquamarine;
        }
        .colorTwo
        {
            color: rgb(34, 71, 59);
        }
    }

    button
    {
        //box settings
        width: 200px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;

        //cursor
        cursor: pointer;

        //text settigns
        font-size: 16px;

        //color
        background-color: aquamarine;
        color: rgb(15, 2, 22);
    }
}