//imports
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Sono:wght@800&display=swap');

main
{
    //flexbox
    display: flex;
    justify-content: center;
    align-items: center;

    form
    {
        //box settings
        min-width: 30%;
        margin-top: 30px;
        padding: 10px;
        border-radius: 10px 0 10px 0;

        //colors
        background-color: rgb(8, 24, 44);

        //flexbox
        display: flex;
        flex-direction: column;

        //childens
        h1
        {
            //text settings
            font-size: 30px;
            font-family: 'Concert One', cursive;
            text-align: center;

            //color
            color: rgb(77, 114, 102);
        }

        section
        {
            //box settings
            min-height: 340px;
            padding-top: 20px;
            padding-bottom: 20px;

            //flexbox
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            //childen
            label
            {
                //text settings
                font-size: 16px;
                color: rgb(77, 114, 102);

                //childen
                input
                {
                    width: 80%;
                    height: 30px;
                    border-radius: 0 10px 10px 10px;
                    padding-left: 10px;
                }
                //childen
                textarea
                {
                    width: 80%;
                    height: 150px;
                    border-radius: 0 10px 10px 10px;
                    padding-left: 10px;
                }
            }
        }

        button
        {
            //box settings
            width: 100%;
            height: 30px;
            border-radius: 0 0 10px 10px;

            //cursor
            cursor: pointer;

            //color
            background-color: aquamarine;
            color: rgb(34, 1, 30);
        }
    }
}