main
{
    //box settings
    min-height:80vh;

    //flexbox
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .lermais-box
    {
        //box settings
        width: 40%;
        height: 30vh;
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;

        //text settings
        font-size: 25px;

        //color
        background-color: rgb(8, 24, 44);
        color: rgb(134, 177, 162);

        //flexbox
        display: flex;
        flex-wrap: wrap;
    }
}