.loading
{
	position: absolute;
	top: auto;
	left: auto;

	.boxs
	{
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 18px;

		/*basic childen*/
		div
		{
			width: 20px;
			height: 20px;

			background-color: white;
		}
		.one{
			animation-name: loadingOne;
			animation-iteration-count: infinite;
			animation-duration: 0.8s;
		}
		.two{
			animation-name: loadingTwo;
			animation-iteration-count: infinite;
			animation-duration: 0.8s;
		}
		.tree{
			animation-name: loadingTree;
			animation-iteration-count: infinite;
			animation-duration: 0.8s;
		}
	}
}

/*--ANIMATED--*/
@keyframes loadingOne{
	25%{
		background-color: rgb(8,24,44);
		transform: translateY(-10px);
	}50%{
		background-color: white;
		opacity: 0.5;
	}75%{
		background-color: white;
		opacity: 0.5;
	}100%{
		background-color: rgb(8,24,44);
		transform: translateY(-10px);;
	}
}

@keyframes loadingTwo{
	25%{
		background-color: white;
		opacity: 0.5;
	}50%{
		background-color: rgb(8,24,44);
		transform: translateY(-10px);
	}75%{
		background-color: white;
		opacity: 0.5;
	}100%{
		background-color: white;
		opacity: 0.5;
	}
}

@keyframes loadingTree{
	25%{
		background-color: white;
		opacity: 0.5;
	}50%{
		background-color: white;
		opacity: 0.5;
	}75%{
		background-color: rgb(8,24,44);
		transform: translateY(-10px);
	}100%{
		background-color: white;
		opacity: 0.5;
	}
}